<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <!-- https://fontawesome.com/ -->
  <!-- https://www.google.com/search?hl=xx-elmer&biw=1620&bih=832&tbm=isch&sa=1&ei=E5POWsPRG4Ll_Qanx7HwBg&q=barcelona+camp+non&oq=barcelona+camp+non&gs_l=psy-ab.3...10648.13158.0.13350.0.0.0.0.0.0.0.0..0.0....0...1c.1.64.psy-ab..0.0.0....0.X-MgRg71cDo#imgrc=Ulpr-yUrbhxzlM: -->
    <meta charset="utf-8" />
    <title>All Football</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />
    <script src="https://use.fontawesome.com/3f3d63a639.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static "js/votes.js" %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">All Football</a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url "app:topics" %}">Hot Topics <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "app:own_topics" %}">Own Topics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "app:favorate_topics" %}">Favorate Topics</a>
              </li>
          </ul>
            <a href="{% url 'app:user_logout' %}"><button class="btn btn-outline-danger my-2 my-sm-0" type="button">Logout</button></a>
          {% else %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url "app:topics" %}">Hot Topics <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "app:redirect_login" %}">Own Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "app:redirect_login" %}">Favorate Topics</a>
                  </li>
              </ul>
            <a href="{% url 'app:user_login' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Login / Register</button></a>
          {% endif %}
        </div>
      </nav>
      <div class="container mycontent">
        {% block content %}
        {% endblock %}
      </div>
</body>
</html>